.contenedor-ppal{
    margin: 0;
    width: inherit;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: linear 200ms;
    width: fit-content;
    padding:0 10px;
    height: 40px;
    margin-top: 20px;
    // position: relative;
    @media (hover: hover){
        &:hover{
            background-color: black;
            box-shadow: 0 0 5px white;
            cursor: pointer;
        }       
    }
    
}
.trailerON{
    
    visibility: hidden;
    position: absolute;
    display: flex;
    z-index: 15;
}
.trailerON.active{
    visibility: visible;

}
.close{
    // border: solid 2px yellow;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -60px;
    right: -50px;
    cursor: pointer;
    filter: invert(1);
    img{
        width: 100%;
    }
}